<br />

<div class="booyah-box col-10 offset-1">
  <h1>Careers</h1>
  <br />
  <p>
    Are you looking for a career in web development? Or maybe you are interested in becoming a coder - enhancing your skills in problem-solving and building apps in general?
  </p>
  <p>
    I would highly recommend signing up for courses at the University of Toronto! To enroll in this program, you can visit: <a title="UofT SCS Coding Boot Camp" href="https://bootcamp.learn.utoronto.ca/coding/">UofT School of Continuing Studies Coding Boot Camp</a>
  </p>
  <p>
  	Thank you for visiting. I hope you were impressed with this website. Have a great day!
  </p>
</div>