<br />

<div class="booyah-box col-10 offset-1">
  <h1>Team</h1>
  <br />
  <p>
    This "team" is a actually just a one-man army. The author and webmaster is Rajkumar "Raj" Mukerjee. He is learning to code at the University of Toronto. As part of the program, he is building applications in an effort to understand various functionalities in web development. This is his third application named "Flixter".
  </p>
  <p>
    To enroll in this program, you can visit: <a title="UofT SCS Coding Boot Camp" href="https://bootcamp.learn.utoronto.ca/coding/">University of Toronto School of Continuing Studies Coding Boot Camp</a>
  </p>
  <p>
  	To get in touch with Raj, you can also find his contact information and social media links below!
  </p>
  <p>
  	Take care!
</div>