<br />
<div class="booyah-box col-10 offset-1">
	<h2>Add a new lesson</h2>
	<%= simple_form_for @lesson, url: instructor_section_lessons_path(@section) do |x| %>
		<%= x.input :title %>
		<%= x.input :subtitle %>
		<br />
		<%= x.submit "Add the lesson" %>
		<br />
		<br />
	<% end %>
</div>